body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
  #container {
    width: 100%;
    margin: 0;
    padding: 20px;
    background-color: #f3b692;
  }

  button {
    margin-top: 10px;
    font-size: x-large;
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: white;
    color: black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }

  #header {
    background-color: #a1d884;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  #page_title {
    background-color: #81bfe1;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  #content {
    background-color: #ffeb7f;
    padding: 20px;
    margin-bottom: 10px;
  }
  #footer {
    background-color: #b08fc5;
    padding: 20px;
    text-align: center;
  }